<ion-view title="{{recipe.name}}">
  	<ion-content class="main-comments">
		<div class="row">
			<div class="col">
				<ul class="list comments">
					<li ng-repeat="comment in recipe.comments" >
						<div class="row">
							<div class="col">
									<p><a class="comment-user" href="#/tab/{{tab}}/user/{{comment.user}}/recipe-book">{{comment.user}}</a> <small>{{comment.content}}</small></p>
							</div>
							<div class="col col-10 hide" close-comment ng-click="removeComment(comment)">
								<a><i class="icon ion-android-close"></i></a>
							</div>
						</div>
					</li>
					
				</ul>
			</div>
		</div>

		<div class="commentsOverlay" ng-hide="ifComments">
			<h2>No Comments Yet</h2>
		</div>

	</ion-content>
	<div class="item item-input comment-add">
		<input type="text" placeholder="Write a Comment..." ng-model="RData.newComment" ng-enter="addComment()">
		<a class="button button-balanced button-clear" ng-click="addComment()"><i class="icon ion-android-send"></i></a>
	</div>
</ion-view>