.add-new {
	padding:50px 0;
}

.add-new .controls {
	position:fixed;
	bottom:49px;
	width:100%;
	background:#888;
}

.add-new .controls .button {
}

.add-new-landing {
	text-align:center;
}

.add-new-landing h5 {
	margin: 40% 0 5% 0;
}

.add-new-landing ul {
	width:96%;
	margin:0 auto;
	padding:20px 0;
	display:inline-block;
}

.add-new-landing li {
	font-size:80%;
	float:left;
	width:33.33333333%;
	text-align:center;
}

.add-new-landing li .button {
	width:96%;
	margin:0 2%;
}

.add-new .slide-inner {
	width:90%;
	margin:0 auto;
}

.add-new input {
	border-bottom:1px solid #ccc;
	width:100%;
}

.add-new-website .add-url .slide-inner, .add-new-website .edit-name .slide-inner, .add-new-website .add-tags .slide-inner, .add-new-website .add-notes .slide-inner {
	padding: 20% 0;
}

.add-new-website h5 {
	color:#aaa;
	font-weight:400;
}

.add-new-website .select-image input {
	margin-bottom:40px;
}

.add-new-website .select-image ul {
	display:inline-block;
	width:100%;
}

.add-new-website .select-image li {
	width:31.3333333333333333%;
	margin:1%;
	max-width:120px;
	padding:5px;
	height:100px;
	float:left;
	text-align:center;
	border:1px solid #ddd;
	cursor:pointer;
}

.add-new-website .select-image li.active {
	border: 2px solid $balanced;
}

.add-new-website .select-image li img {
	max-width:95%;
	max-height:95%;
	vertical-align:middle;
}

.add-new-website .select-image li p {
	margin-top: 20%;
	font-size:340%;
	color:#bbb;
}

.add-new .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.add-new-website .edit-ingredients .ingAdder, .add-new-website .edit-directions .dirAdder {
	margin-top:20px;
}

.add-new .edit-ingredients input {
	border:none;
}

.add-new .edit-directions textarea{
	border:1px solid #ddd;
	width:90%;
}

.add-new .edit-ingredients .skip {
	margin:40px 0;
}

.add-new-website .edit-ingredients h6 {
	color:$assertive;
	text-align:center;
	font-size:140%;
	padding:50px  0;
}

.add-new-website .choose-meal input {
	margin:40px 0;
}

.add-new-website .choose-ethnicity input {
	margin:20px 0;
}

.add-new-website .add-notes .slide-inner textarea {
	width:100%;
	height:100px;
	border:1px solid #ddd;
}
