<div ng-cloak>
<ion-view title="füdie">

	<ion-nav-buttons side="right" >
      	<a href="#/tab/searchRecipes" class="button button-clear icon icon-left ion-ios-search-strong"> </a>
	</ion-nav-buttons>

	<div class="homeLoadingOverlay" ng-if="loading">
		<ion-spinner icon="android" class="spinner-balanced"></ion-spinner>
	</div>

 	<ion-content class="home">
  		<ion-refresher pulling-text="Pull To Refresh" on-refresh="doRefresh()" pulling-icon="ion-ios-arrow-thin-down" spinner="dots">
  		</ion-refresher>

  		
    
      	<div class="home-item" ng-repeat="item in feed | orderBy: 'action.date':true" ng-if="!loading">

	      	<div class="home-recipe-section">

	      		<div class="home-recipe-bg-image" style="background: url('{{item.recipe.image}}') no-repeat center; background-size:cover; width: 100%;">
	      		</div>

	      		<div class="recipe-overlay">
	      		</div>

		      	<div class="home-action-section">
		      	    <p><a href="#/tab/{{tab}}/user/{{item.action.username}}/recipe-book">{{item.action.username}}</a> <small>{{item.action.phrase}}:</small></p>
		      	</div>
	      	
		        <div class="recipe-info">
					<a href="#/tab/home-recipe/{{item.recipe._id}}"><h2 class="recipe-name">{{item.recipe.name}}</h2></a>
				</div>
			
				<div class="list-manage">
					<a action-feed class="a button button-round button-balanced button-small" ng-click="handleForkList(item.recipe)"><i class="icon ion-fork"></i></a>
					<div class="stats">
						<ul>
							<li>
								<h3>{{item.recipe.stats.forks}}</h3>
								<p>Forks</p>
							</li>
							<li>
								<h3>{{item.recipe.stats.books}}</h3>
								<p>Books</p>
							</li>
							<li>
								<a href="#/tab/{{tab}}/comments_{{item.recipe._id}}"><h3>{{item.recipe.comments.length}}</h3></a>
								<p>Comments</p>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
      	</div>
  	</ion-content>
</ion-view>
</div>