<ion-view title="Add New Recipe" class="add-new">
	<ion-content class="add-new-landing">
		<ul>
			<li>
				<a href="#/tab/add-new-from-website">
					<i class="icon ion-ios-world"></i><br>
					Get Recipe From a Website
				</a>
			</li>
			<li><h5>or</h5></li>
			<li>
				<a href="#/tab/add-new-from-picture">
					<i class="icon ion-camera"></i><br>
					Take a Picture of Your Recipe
				</a>
			</li>
			<li><h5>or</h5></li>
			<li>
				<a href="#/tab/add-new-manual">
					<i class="icon ion-edit"></i><br>
					Enter Your Recipe Manually
				</a>
			</li>
		</ul>
	</ion-content>
</ion-view>

