<ion-view title="Add New Recipe" class="add-new">
	<ion-content class="add-new-landing">
		<h5>Choose Method:</h5>
		<ul>
			<li>
				<a class="button button-balanced icon icon-left ion-ios-world button-outline" href="#/tab/add-new-from-website">
					Website
				</a>
			</li>
			<li>
				<a class="button button-balanced icon icon-left ion-camera button-outline" href="#/tab/add-new-from-picture">
					Picture
				</a>
			</li>
			<li>
				<a class="button button-balanced icon icon-left ion-edit button-outline" href="#/tab/add-new-manual">
					Manual
				</a>
			</li>
		</ul>
	</ion-content>
</ion-view>

