<div class="list list-inset search">
  	<label class="item item-input">
    	<i class="icon ion-search placeholder-icon"></i>
		<input type="text" class="form-control" placeholder="Search People" ng-model="searchQuery.people" ng-keyup="searchPeople()">
	</label>
	<div class="card" ng-repeat="user in users" ng-if="loaded">
		<div class="row">
  			<div class="col">
  				<div class="search userImage" ng-bind-html="image"></div>
  				<div class="userInfo">
  					<div class="row">
	  					<div class="col">
			  				<a href="#/tab/{{tab}}/user/{{user.username}}/recipe-book"><h5>{{user.username}}</h5></a>
			  			</div>
			  			<!-- <div class="col">
			  				<button ng-click="follow(user)" ng-if="!user.me" ng-hide="user.following" class="button button-balanced button-small button-block">Follow</button>
			  				<button ng-click="unfollow(user)" ng-if="!user.me" ng-show="user.following" class="button button-stable button-outline button-small button-block">Unfollow</button>
			  			</div> -->
		  			</div>
	  			</div>
  			</div>
		</div>
	</div>
	<div class="loadingOverlay" ng-if="!loaded">
		<ion-spinner icon="android" class="spinner-balanced"></ion-spinner>
	</div>
	<div class="resultsOverlay" ng-hide="results">
		<h2>Search People</h2>
	</div>
</div>